                /*Ordinateurs*/

@media screen and (max-width:1440px)
{
    section{

        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .bloc_lodging{
        margin-top: 15px;
    }
    .bloc_popular{
        height: 250px;
        margin-bottom: 15px;
    }
    .popular{
        display: flex;
        margin: 0 25px 0 11px;
        }
    .title_popular{
        display: flex;
        justify-content:start;
        align-items: center;
        margin-left: 30px;
    }
    .fa-chart-line
    {
        padding-left: 20px;
    }
    .thumbnail{
        width: 100%;
    }
    .thumbnail_pop{
        width: 100%;
    }
}

            /* Tablettes*/

@media screen and (max-width: 991px){
    .filter{       
        height: 100%;
        max-width: 990px;
        flex-wrap:wrap;
    }
    .bloc_filters{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 15px;
    }
    .popular{
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 30px;
    }
    .bloc_popular{
        height: 100%;
    }
    .lodging{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);

    }
}

            /*Smartphones*/

@media screen and (max-width: 768px){
    main{
        width: 100%;
    }
    header{
        width: 90%;
        margin: auto;
        height: 250px;
    }
    .top_header img{
        position: relative;
        top: 0;
        left: 0;
    }
    .btn_search_icon{
        display:block;
        border: transparent;
        width:50px;
        border-radius: 15px;
        background-color: #0065fc;
        color:white;
        font-size: 1.1em;
    }
    .btn_search{
        display:none;
    }
    .search_bar{
        justify-content: space-between;
        width: 90%;
        margin: auto;
        margin-bottom: 15px;
    }
    .bloc_filters{
        width: 90%;
        margin: auto;
    }
    .bloc_popular{
        width: 100%;
        border-radius: 0%;
    }
    .title_popular{
        justify-content:space-between;
    }

}